<!-- Search input field -->
 <h4>You can search by entering Name or Email or phone number.</h4>
<input [formControl]="searchText" placeholder="Search..." />
<h4>Please click on the headings to sort the table with respect to respective column. Click again to sort in descending order.</h4> 
<!-- Table with sorting -->
<table>
  <thead>
    <tr>
      <th (click)="sortData('name')">Name</th>
      <th (click)="sortData('email')">Email</th>
      <th (click)="sortData('phone')">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of paginatedData()">
      <td>{{ user.name.first }} {{ user.name.last }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
    </tr>
  </tbody>
</table>

<!-- Pagination Controls -->
<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>


  
  
  
  
